#Todo {
    background-color: rgb(203, 218, 226);
    color: rgb(25, 30, 52);
    font-family: 'Times New Roman', Times, serif;
    line-height: 27px;
    margin: 18px;
    padding: 15px;
    font-size: medium;
}

.titulos {
    writing-mode: horizontal-tb;
    direction: rtl;
    text-align: center;
    font-family: 'Cinzel', serif;
}

h4 {
    font-size: 18px;
    border-bottom: solid 2px black;
    font-family: 'Cinzel', serif;
}
.imagen1 img {
    width: 120px;
    border-radius: 100%;
    float: left;
}
.imagen img {
    width: 120px;
    border-radius: 100%;
    float: right;
}
.fotohistoria img,
.imagen2 img,
.imagen3 img,
.imagen6 img,
.lugaresinteres img,
.imagn3 img,
.yrurl img,
.marnoruega img {
    width: 400px;
    border-radius: 50%;
    margin: auto;
    display: flex;
}

.presentacion{
    text-align:justify;
}
.historia{
    text-align:justify;
}

.lugaresinteres{
    text-align:justify;
}

.clima{
    text-align:justify;

}

.comida{
    text-align:justify;
}



@media all and (max-width: 600px) {
    section, aside {
        float: none;
        width: 100%;
    }

    header {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.8em;
    }
} 
footer {
    background-color: rgb(201, 221, 228);
    padding: 20px;
    text-align: center;
}

footer div {
    margin-bottom: 20px;
}

.contacto p {
    margin: 5px 0;
}

.redes-sociales a,
.otros-enlaces a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.redes-sociales a:hover,
.otros-enlaces a:hover {
    color: #007bff;
       }